





@media (max-width: 1151px) {
	:root {
		--nntm-fs-5xl: 2.75rem;   
		--nntm-fs-4xl: 2.5rem;    
		--nntm-fs-3xl: 2rem;      
	}
}

@media (max-width: 767px) {
	:root {
		--nntm-fs-5xl: 2.125rem;   
		--nntm-fs-4xl: 2rem;       
		--nntm-fs-3xl: 1.75rem;    
	}
}



:root {
	--nntm-cot-le: max(0px, calc((100% - var(--nntm-w-rong)) / 2));
}
